#question {
  width: 50%;
  display: flex;
  position: relative;
  margin: 20px;
}

#answer {
  display: flex;
  position: relative;
  width: 50%;
  margin: 20px;
}

#tag {
  display: flex;
  position: relative;
  width: 50%;
  margin: 20px;
}
