* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  border: 2px solid black;
  background-color: rgb(59, 38, 161);
  color: rgb(178, 57, 57);
  justify-content: center;
  font-family: fantasy;
}

header h1 {
  width: 70%;
  display: flex;
  justify-content: center;
}
.card {
  width: 70%;
  height: 40vh;
  margin: 3px;
  border: 2px solid brown;
  flex-direction: column;
  justify-content: column;
  align-items: center;
}

.Show .question__card__answer {
  display: none;
  visibility: hidden;
}
