@import "./variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

header {
  top: 0;
  width: 100%;
  height: ;
  border: 2px solid black;
  background-color: var(--secondary-color);
  color: var(--font-color);
  font-family: fantasy;
  font-size: x-large;
  position: fixed;
  z-index: 1;
}

h1 {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 10vh 0;
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  display: flex;
  position: relative;
  width: 70%;
  height: 40vh;
  margin: 30px;
  border: 3px solid brown;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
}
.Answer.hidden {
display: none;
}

.card:nth-child(1) {
  margin-top: 80px;
}

.card__text {
  margin: 50px;
  font-size: x-large;
}

button {
  align-self: center;
  margin: 0px;
  background-color: var(--background-color);
}

button:hover {
  transform: scale(1.1);
}

.bookmark {
  position: absolute;
  top: -20px;
  right: 0;
  background-color: transparent;
  border: none;
}

.bookmark:hover {
  transform: scale(1.1);
}

.card__container__tagbox {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  position: absolute;
  bottom: 10px;
}

.card__container__tagbox li {
  margin: 3px;
  border: 1px solid black;
  padding: 2px;
  background-color: var(--secondary-color);
  list-style: none;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 30vh;
  flex-direction: row-reverse;
}

.profile-text {
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 32%;
}

.profile-pic h2 {
  position: relative;
  margin: 20px;
}

.Show .question__card__answer {
  display: none;
  visibility: hidden;
}

footer {
  width: 100%;
  height: 10vh;
  border: 2px solid black;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  opacity: 0.2;
}

footer:hover {
  opacity: 1;
}

#Settings {
  display:flex;
  justify-content: space-around;
 width: 50%;
 margin: 20px;
}
/*Toggle switch css  */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
</head>
<body>

