* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 70%;
  height: 40%;
  border: 2px solid black;
  background-color: rgb(59, 38, 161);
  color: rgb(178, 57, 57);
  justify-content: center;
  font-family: fantasy;
}

header h1 {
  width: 70%;
  display: flex;
  justify-content: center;
}
.card__container {
  display: flex;
  position: relative;
  width: 70%;
  height: 40vh;
  margin: 3px;
  border: 2px solid brown;
  flex-direction: column;
}

button {
  align-self: center;
  align-items: center;
}

.card p {
  display: inline-block;
  border: 2px solid black;
}

.card__container__tagbox {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  position: absolute;
  bottom: 10px;
}

.card__container__tagbox li {
  margin: 3px;
  border: 1px solid black;
  padding: 2px;
  background-color: gray;
  list-style: none;
}

.Show .question__card__answer {
  display: none;
  visibility: hidden;
}
