:root[data-theme="light"] {
  --background-color: #b2c4ec;
  --main-color: #8c9cc8;
  --secondary-color: #8291db;
  --third-color: #a7a5a2;
  --font-Color: #060606;
}

:root[data-theme="Dark"] {
  --background-color: #042365;
  --main-color: #4e4e54;
  --secondary-color: #14205c;
  --third-color: #454340;
  --font-Color: #f8f3f3;
}
